// bower:scss
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower
@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto:100');

$primary: #d83454;
$white: #FFF;
$dark-grey: #414042;
$grey: #f1f2f2;


@import "components/buttons";
@import "components/forms";
@import "components/lists";

html,body{
  height: 100%; 
}
body{
  font-family: 'Roboto', sans-serif;
  color: $dark-grey;
}
h1{
  font-family: 'Raleway', sans-serif;
  font-size: 2.5rem;
}
a, button{
  cursor: pointer;
}

section{
  height: 100vh;
  min-height: 100vh;
  background-color: $grey;
  display: table;
  position: relative;
  width: 100%;
  text-align: center;
  align-items: center;
  .content{
    display: table-cell;
    vertical-align: middle;
    p{
      font-size: 20px;
      span{
        color: $primary;
      }
    }
    .control{
      position: absolute;
      left: 0;
      bottom: 2rem;
      width: 100%;
    }
    
  }

}


.logo{
  margin-bottom: 3rem;
  img{
    width: 200px;
  }
}

.no-padding{
  padding: 0 !important;
}
.hero-photo{
  width: 40%;
  margin: auto;
  margin-bottom: 3rem;
}

.content p.sub-title{
  font-family: 'Raleway', sans-serif;
  margin: auto;
  font-size: 15px;
  width: 40%;
}

.home{
  background-color: $primary;
  color: $white;
}
.services{
  background-color: transparent;
}


.map{
  background-image: url(../images/map.jpg);
  height: 290px;
  width: 100%;
  background-position: center center;
  box-shadow: 0px 0px 3px 0px inset;
}

.circle-item{
  background-color: $primary;
  padding: 1rem;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  margin: 2rem 1rem 1rem;
  transition-property: background;
  transition-duration: .2s;
  transition-timing-function: linear;
  img{
    width: 60%;
    margin: auto;
  }
  &:hover{
    background-color: darken($primary, 10%);
  }
}

.slider{
  margin: 4rem auto;
  display: flex;
  align-items: center;
  .slider-item{
    padding: 1rem;
    img{
      max-width: 110px;
    }
  }
  .slider-control{
    color: #5e6b6e;
    font-size: 20px;
    width: 5%;
    &:hover{
      background-color: darken($grey, 10%);
      color: darken(#5e6b6e, 10%);
    }
  }
}

@import "components/media";