ul.list{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

ul.list-services{
  display: inline-block;
  li{
    display: inline-block;
  }
}

ul.list-clients{
  display: table;
  width: 90%;
  li{
    width: 33%;
    display: table-cell;
    vertical-align: middle;
  }
}
