@media only screen and (max-width: 768px) {
    .circle-item {
        width: 70px;
        height: 70px;

    }
    .slider-item{
      width: 60%;
      margin: auto;
    }
    section > .content{
      padding: 1rem 2rem;
    }

    form{
      width: 80%;
    }
}
